[submodule "third_party/cs_tracking"]
	path = third_party/cs_tracking
	url = https://github.com/SteamDatabase/GameTracking-CSGO
	ignore = dirty
[submodule "third_party/steam_tracking"]
	path = third_party/steam_tracking
	url = https://github.com/SteamDatabase/SteamTracking
	ignore = dirty